<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Service.Contracts.CurryRestaurantOrder" behaviorConfiguration="NewBehavior0">
                <endpoint address="order" binding="netNamedPipeBinding" bindingConfiguration="" contract="Service.Contracts.RestaurantOrder" />
                <!--<endpoint address="order" binding="basicHttpBinding" bindingConfiguration="" contract="Service.Contracts.RestaurantOrder" />-->
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />                
                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/" />
                        <add baseAddress="http://Simon-TP:8087/service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>