<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_RestaurantOrder" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/order" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_RestaurantOrder"
                contract="RestaurantOrderClient.RestaurantOrder" name="NetNamedPipeBinding_RestaurantOrder">
                <identity>
                    <userPrincipalName value="Simon-TP\Simon" />
                </identity>
            </endpoint>
          <endpoint address="net.pipe://localhost/order" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_RestaurantOrder"
                contract="Service.Contracts.RestaurantOrder" name="NetNamedPipeBinding_RestaurantOrder">
            <identity>
              <userPrincipalName value="Simon-TP\Simon" />
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>