<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_RestaurantOrder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:39986/RestaurantOrder.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RestaurantOrder"
                contract="ServiceReference1.RestaurantOrder" name="BasicHttpBinding_RestaurantOrder" />
        </client>
    </system.serviceModel>
</configuration>